__pycache__/classes.cpython-310.pyc
__pycache__/glaciesClasses.cpython-310.pyc
__pycache__/ignisClasses.cpython-310.pyc
__pycache__/standings.cpython-310.pyc
__pycache__/reader.cpython-310.pyc
__pycache__/gsReader.cpython-310.pyc
__pycache__/standingsClass.cpython-310.pyc
fixGraphics/RSC Standings.psd
fixGraphics/RSC10_CasterScreen.psd
fixGraphics/RSC10_Standings.psd
fixGraphics/RSC10_Weekly_Results.psd
service_account.json
RSC Standings.psd
fixGraphics/RSC10_PlayerStats.psd
fixGraphics/RSC10_VS_Screen.psd
fixGraphics/StandingsSocials.psd
Outputs/ChallengerFixtures.png
Outputs/ChallengerFixturesTrans.png
Outputs/EliteFixtures.png
Outputs/EliteFixturesTrans.png
Outputs/MasterFixtures.png
Outputs/MasterFixturesTrans.png
Outputs/MasterStandingsGlacies.png
Outputs/PremFixtures.png
Outputs/PremFixturesTrans.png
Outputs/ProspectFixtures.png
Outputs/ProspectFixturesTrans.png
Outputs/RivalFixtures.png
Outputs/RivalFixturesTrans.png
__pycache__/fixturesClass.cpython-310.pyc
__pycache__/teamsData.cpython-310.pyc
__pycache__/weeklyFixturesEditor.cpython-310.pyc
__pycache__/weeklyFixturesReader.cpython-310.pyc
RSC10_Weekly_Results.psd
fixturesConfig.txt
Outputs/CasterDesk.png
Outputs/CasterDesk2.png
Outputs/CasterDesk3.png
Outputs/Standings-W3-Challenger-Ignis.png
Outputs/Standings-W3-Elite-Ignis.png
Outputs/Standings-W3-Master-Ignis.png
Outputs/Standings-W3-Prospect-Ignis.png
Outputs/Standings-W3-Rival-Ignis.png
Outputs/Standings-W3-Challenger-Glacies.png
Outputs/Standings-W3-Elite-Glacies.png
Outputs/Standings-W3-Master-Glacies.png
Outputs/Standings-W3-Premier-Glacies.png
Outputs/Standings-W3-Premier-Ignis.png
Outputs/Standings-W3-Prospect-Glacies.png
Outputs/Standings-W3-Rival-Glacies.png
